<div class="container-fluid pt-3">
    <div class="row">
        <div class="d-flex justify-content-between border-bottom pb-2 my-border">
        
        <h2 class="my-header">Add User</h2>
    </div>
<div class="w-100 d-flex justify-content-center pt-5 mt-3">


    <div class="w-75 border rounded shadow p-4 py-5">

        
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <div class="container">
                <div class="row">
                    <div class="form-group col-md-6">
                <label for="firstName" class="py-2 lable">firstName</label>
                <input type="text" formControlName="firstName" class="form-control my-input" id="firstName" placeholder="Enter your firstName">
                <span class="text-danger" *ngIf="loginForm.controls?.['firstName']?.hasError('required') && loginForm.controls?.['firstName']?.touched">
                    firstName is <strong>required</strong>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName" class="py-2 lable">lastName</label>
                <input type="text" formControlName="lastName" class="form-control my-input" id="lastName" placeholder="Enter your lastName">
                <span class="text-danger" *ngIf="loginForm.controls?.['lastName']?.hasError('required') && loginForm.controls?.['lastName']?.touched">
                    lastName is <strong>required</strong>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="age" class="py-2 lable">Age</label>
                <input type="number" formControlName="age" class="form-control" id="age" placeholder="Enter your age">
                <span class="text-danger" *ngIf="loginForm.controls?.['age']?.hasError('required') && loginForm.controls?.['age']?.touched">
                    age is <strong>required</strong>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="email" class="py-2 lable">Email</label>
                <input type="email" formControlName="email" class="form-control my-input1" id="email" placeholder="Enter your email">
                <span class="text-danger" *ngIf="loginForm.controls?.['email']?.hasError('required') && loginForm.controls?.['email']?.touched">
                    email is <strong>required</strong>
                </span>
            </div>

            <div class="form-group col-md-6">
                <label for="phone" class="py-2 lable">phone</label>
                <input type="text" formControlName="phone" class="form-control my-input1" id="phone" placeholder="Enter your phone">
                <span class="text-danger" *ngIf="loginForm.controls?.['phone']?.hasError('required') && loginForm.controls?.['phone']?.touched">
                    phone is <strong>required</strong>
                </span>
            </div>

            <div class="form-group col-md-6">
                <label for="birthDate" class="py-2 lable">birthDate</label>
                <input type="text" formControlName="birthDate" class="form-control my-input1" id="birthDate" placeholder="Enter your birthDate">
                <span class="text-danger" *ngIf="loginForm.controls?.['birthDate']?.hasError('required') && loginForm.controls?.['birthDate']?.touched">
                    birthDate is <strong>required</strong>
                </span>
            </div>
                </div>
            </div>
            
            <div class="w-100 d-flex justify-content-center">
                <button type="submit" class="btn btn-custom btn-block mt-3 w-50">Save</button>
            </div>
            
        </form>
    </div>
    </div>
</div>
</div>