.s-icon{
    top: 30%;
    right: 20px;
    color: #C4C4C4;
}
.my-search::placeholder{
    color: #C4C4C4;
}
.bell-icon{
    color: #C4C4C4;
}
.play-circle-icon{
    color: #C4C4C4;
    rotate: y 180deg;
}