.my-header{
    font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 26.82px;
text-align: left;

}
.my-btn{
    background: #FEAF00;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: center;

    
}
.my-border{
    border-color: #E5E5E5;
}
.pointer-my{
    cursor: pointer;
}
.taple-head{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: left;
color: #ACACAC;


}
.taple-head1{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.63px;
text-align: center;
color: #ACACAC;


}
.user-pic{
    border-radius: 8px;
    width: 65px;
    height: 55px;
}
.card-bg{
    background-color: #e8e8e8;
    border-radius: 8px;
}
.my-cols{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;

    
}
.my-card-icons{
    color: #FEAF00;
    gap: 15px;

}